## ZOMATO RESTAURANT PREDICTION

In [11]:
## read-manipulate this data
## real world - raw data -> (csv, databases, big)

## read this data --> raw data --> data cleaning --> data analysis --> feature engineering --> ML model
## 100 features, rest -- sucess/not

# !pip install gdown

Requirement already satisfied: gdown in /Users/nathalia/.pyenv/versions/3.10.7/envs/py-3.10.7/lib/python3.10/site-packages (4.6.0)
Requirement already satisfied: six in /Users/nathalia/.pyenv/versions/3.10.7/envs/py-3.10.7/lib/python3.10/site-packages (from gdown) (1.16.0)
Requirement already satisfied: beautifulsoup4 in /Users/nathalia/.pyenv/versions/3.10.7/envs/py-3.10.7/lib/python3.10/site-packages (from gdown) (4.11.1)
Requirement already satisfied: tqdm in /Users/nathalia/.pyenv/versions/3.10.7/envs/py-3.10.7/lib/python3.10/site-packages (from gdown) (4.64.1)
Requirement already satisfied: filelock in /Users/nathalia/.pyenv/versions/3.10.7/envs/py-3.10.7/lib/python3.10/site-packages (from gdown) (3.9.0)
Requirement already satisfied: requests[socks] in /Users/nathalia/.pyenv/versions/3.10.7/envs/py-3.10.7/lib/python3.10/site-packages (from gdown) (2.28.2)
Requirement already satisfied: soupsieve>1.2 in /Users/nathalia/.pyenv/versions/3.10.7/envs/py-3.10.7/lib/python3.10/site-packages (from beautifulsoup4->gdown) (2.3.2.post1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/nathalia/.pyenv/versions/3.10.7/envs/py-3.10.7/lib/python3.10/site-packages (from requests[socks]->gdown) (3.0.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/nathalia/.pyenv/versions/3.10.7/envs/py-3.10.7/lib/python3.10/site-packages (from requests[socks]->gdown) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/nathalia/.pyenv/versions/3.10.7/envs/py-3.10.7/lib/python3.10/site-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/nathalia/.pyenv/versions/3.10.7/envs/py-3.10.7/lib/python3.10/site-packages (from requests[socks]->gdown) (1.26.14)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /Users/nathalia/.pyenv/versions/3.10.7/envs/py-3.10.7/lib/python3.10/site-packages (from requests[socks]->gdown) (1.7.1)

[notice] A new release of pip available: 22.3 -> 23.0
[notice] To update, run: pip install --upgrade pip

In [28]:
# !pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Installing collected packages: wget
  DEPRECATION: wget is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  Running setup.py install for wget ... done
Successfully installed wget-3.2

[notice] A new release of pip available: 22.3 -> 23.0
[notice] To update, run: pip install --upgrade pip

### Using wget/gdown to download CSV file from Google Drive

In [30]:
# import pandas as pd
# ! python -m wget 'https://drive.google.com/uc?id=1_ypP97mHGrLccvDKXDMliV7qaKUDvJnX'

-1 / unknown
Saved under 1_ypP97mHGrLccvDKXDMliV7qaKUDvJnX

In [40]:
# !gdown 'https://drive.google.com/uc?id=1_ypP97mHGrLccvDKXDMliV7qaKUDvJnX'

Downloading...
From: https://drive.google.com/uc?id=1_ypP97mHGrLccvDKXDMliV7qaKUDvJnX
To: /Users/nathalia/Personal/code-practice/Data Science Projects/Predict Success of a Zomato Restaurant/zomato.csv
100%|████████████████████████████████████████| 574M/574M [01:14<00:00, 7.71MB/s]

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import read_csv

In [39]:
import os
working_dir = os.getcwd()
print(working_dir)

/Users/nathalia/Personal/code-practice/Data Science Projects/Predict Success of a Zomato Restaurant

In [41]:
data_path = working_dir + '/zomato.csv'

### Turn data from CSV file into a DataFrame

In [42]:
df= read_csv(data_path)

# Results
print(f'Dataset shape: {df.shape}')
df.head()

Dataset shape: (51717, 17)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

### Explore data

In [45]:
df.columns
# headers = np.array(df.columns)
# print(headers)

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

#### Getting all NAN features

In [46]:
# Look how much null data there are in each column
df.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [47]:
# Return column name that has null data
# list comprehension
[feature for feature in df.columns if df[feature].isnull().sum()>1]

['rate',
 'phone',
 'location',
 'rest_type',
 'dish_liked',
 'cuisines',
 'approx_cost(for two people)']

In [48]:
# For-loop
feature_na=[]
for feature in df.columns:
    if df[feature].isnull().sum()>1:
        feature_na.append(feature)
feature_na

['rate',
 'phone',
 'location',
 'rest_type',
 'dish_liked',
 'cuisines',
 'approx_cost(for two people)']

In [61]:
# Get the percentage that represents null data in every column
for feature in feature_na:
    print('{} has {} % missing values'.format(feature,np.round(df[feature].isnull().sum()/len(df)*100,4)))

rate has 15.0337 % missing values
phone has 2.3358 % missing values
location has 0.0406 % missing values
rest_type has 0.4389 % missing values
dish_liked has 54.2916 % missing values
cuisines has 0.087 % missing values
approx_cost(for two people) has 0.669 % missing values

In [62]:
# Get data type for every column data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

### Remove file downloaded in the path after finishing with the project

In [37]:
os.remove(data_path)